/* Custom styles for Stanford Robotics Club Site */

   .navbar-wrapper .container{
      width: 100%;
      height: 42px;
      }

      .navbar-wrapper{
      height: 42px;
      background-color: #8C1515;
      }

      .navbar-inverse .navbar-inner{
      background: #a90329; /* Old browsers */
      background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(\
44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Saf\
ari5.1+ */
      background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
      background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d00\
19',GradientType=0 ); /* IE6-9 */
      }

      .navbar-inverse .nav > li > a{
      color: #ffffff;
      }

      .navbar-inverse .brand{
      color: #ffffff;
      }

      .navbar-inverse .nav li a:hover{
      background-color: #ffffcc;
      color: #4D4F53;
      }

      /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin: 0;
      margin-bottom: 60px;
      width: 100%;
      max-height: 420px;
      background-color: #800000;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .carousel .container {
      position: relative;							
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 450px;
    }
    .carousel img {
      position: absolute;
      top: 0;
/*      left: 0; */
/*      min-width: 100%; */
	width: 100%;
	height: 100%;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    .carousel-inner{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	height: 360px;
    }

    .carousel .item{